.footer{
       display:flex;
       align-items: center;
       height: 100px;
       width: 100%;
       background-color:#9B59B6;
    }
    .footer a {
        color:white;
        cursor:pointer;
        font-size: 14px;
        padding-left:30px;
        text-decoration: none;

    }
    .footer a:hoover{
        text-decoration: underline;
    }